body {
	border:  ;
	margin: 0px;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

header {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient;
	border:;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	margin: 0px;
	background-color: #DBDCEE;
	opacity: ;
	height: 90px;

}


h1 {
	margin-left: 50px;

}

nav {
	margin: auto 50px;
}

nav a {
	margin-left: 50px;
	text-decoration: none;
	color: #AF3BFF;
	font-weight: 600;
	font-size: 18.5px;
	opacity: 0.6;
}

div.wrapper {
	margin-top: 100px;
}


section {
	display: ;
	border:  ;
	width: ;
	background-color: ;
	margin: ;
	height: ;
}

section.one {
	margin-top: 0px;
	height: 700px;
	background-image: url("coding background.jpeg");
	background-attachment: fixed;
	background-size: ;
	background-position: 0px 45%;
}


section.two {
	background-image: linear-gradient(to bottom right, #f4bbeb, #c8fefe);
	opacity: ;
	color: ;   
	margin-bottom: 0px;
}

section.three {
	height: 750px;
	background-color: #8487B4;	
}


.content {
	
}


.first {
	display: flex;
	font-size: 40px;
	font-style: ital;
	margin: 50px auto;
	border: ;
	padding: 10px;
	position: relative;
	left: 28px;
	top: 70px;
	
}

.first p {
	max-width: 1050px;
	min-width: 950px;
	color: #ffffff;
}

.second {
	width: ;
	position: relative;
	color: ;
	font-size: ;
	padding: 90px 15px;
}



.paragraph1 {
	display: flex;
	width: 100%;
	line-height: 1.5em;
	font-size: 25px;
}

.paragraph1 div {

}

.paragraph1 h2 {
	display: inline-block;
	margin-left: 45px;
}


.paragraph1 p {
	margin: auto 50px auto 45px;
	min-width: 550px;
	color: ;
	padding: 8px;
}

.paragraph1 img {
	height: 300px;
}

.paragraph2 {
	padding: ;
	margin-top: 20px;
	display: flex;
	width: 100%;
	line-height: 1.5em;
	font-size: 25px;
	color:;
	position: ;
	
}

.paragraph2 h2 {
	display: inline-block;
	margin-left: 53px;
}


.paragraph2 p {
	margin: auto 50px auto 50px;
	min-width: 550px;
	height: ;
	padding: 8px;

}

.paragraph2 img{
	height: 350px;
	position: ;

}

.paragraph3 {
	margin-top: 20px;
	width: 100%;
	line-height: 1.5em;
	font-size: 25px;
}

.paragraph3 h2 {
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 10px;
}

.paragraph3 p {
	padding: 8px;
 	min-width: 1200px;
}

.img_wrapper {
	min-width: 1500px;
}

.img_wrapper img {
	height: 250px;
}


.hobby {
	margin: 0px 20px 0px 20px;
}

.books_wrapper {
	display: inline-block;
}

.books_wrapper img {
	margin: 0px 0px;
	float: left;
}

.third h1 {
	text-align: center;
	padding-top: 50px;
	margin-left: 0px;
	margin-top: 0px;
	font-size: 40px;
	color: #F28AE2;
}


.contact {
	width: 700px;
	margin: 0px auto;
}

form input, form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;


}

form input {
	height: 50px;
}

.btn {
	display: inline-block;
	background: #F28AE2;
	padding: 18px 60px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 6px;
	border: 0;
	font-size: 15px;
	color: #ffffff;
}

#msg {
	display: block;
	color: #61B752;
	margin-top: 8px;
	font-size: 20px;
}
	


